@import "font";

body{
    background: url(../image/mainBack.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
div{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    text-align: center;
    .contener{
        font-family: drugs-thin;
        color: white;
        position: relative;
        height: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        font-size: 2em;
    }
    
}

.animation {
    animation-duration: 0.90s;  /* Время работы анимации */
    animation-fill-mode: both;  /* Поведение анимации */
    animation-name: fadeInDown; /* Имя анимации */
  }
  @keyframes fadeInDown { /* Сама анимация */
    0% {                /* Старт анимации */
        opacity: 0;
        transform: translate(0px, 50px);
    }
    25% {              /* в финале анимации - финал это заданная 0.55s */
        opacity: 0.2;
    }
    50% {              /* в финале анимации - финал это заданная 0.55s */
        opacity: 0.5;
    }
    75% {              /* в финале анимации - финал это заданная 0.55s */
        opacity: 0.65;

    }
    85% {              /* в финале анимации - финал это заданная 0.55s */
        opacity: 0.8;

    }
    95% {              /* в финале анимации - финал это заданная 0.55s */
        opacity: 0.9;

    }
    100% {              /* в финале анимации - финал это заданная 0.55s */
        opacity: 1;
    }
  }